//Header and Footer
@import "./Header.scss";
@import "./Home.scss";


#root > div > div > form > button {
  margin-left: none;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}


#root > div > div > form > div.form.input-group > label {
  margin-left: 40% !important;
}

.login {
  margin-top: 3rem;
}

#root > div > div > form {
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 75%;
}

#root > div > div > form > input {
  height: 35px;
}